//*// BREADCRUMBS //*//

#plone-breadcrumb {
    background-color: $breadcrumb-bg;
    margin-bottom: 0;
    position: relative;
    @if $enable-full-width-breacrumb {
        &:after{
          @include full-width;
          background: $breadcrumb-bg;
        }
      }
    .breadcrumb {
      background-color: transparent;
      .breadcrumb-item{
        a{
          text-decoration: none;
        }
      }
    }
}
.section-home-page{
  #plone-breadcrumb{
    display: none;
  }
}