
.list-group{
    .list-group-item{
        border-bottom: $border-width solid $gray;
        .tileHeadline{
            &:hover,
            &:focus {
                .summary{
                    border-bottom: $link-hover-decoration;
                }
            } 
        }
        .summary{
            &:hover,
            &:focus {
                border-bottom: $link-hover-decoration;
            }
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
        }   
    }
}

