$headings-color: #000;
$primary: #008FD2;
$bg-primary: red;
$gray: #d8d8d8;
$yellow: #f9b300;
// $secondary: #f9b300;
// liste group variables
$list-group-border-width : 0px;
$list-group-item-padding-x : 0px;

//link
$link-color: #000;
$link-hover-decoration :  solid 3px $yellow;
//TITRES H2
$title-h2 : 18px;
//Liste Block
$block-full-shadow: 0px 20px 40px #0000001A;
$block-small-shadow: 0px 2px 4px #0000000D;